:root {
    --row-height: 150px;
    --col-width: 150px;
    --standard-gap: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: calc(2* var(--standard-gap));
}
.container {
    display: grid;
    grid-template-columns: repeat(3, var(--col-width));
    grid-template-rows:  repeat(3, var(--row-height));
    gap: var(--standard-gap);
    justify-content: center;
    align-content: center;
}

.box {
    background-color: aqua;
    font-size: 8rem;
    text-align: center;
    line-height: var(--row-height);
}

.announcements {
    height: var(--row-height);
}

.bad-move {
    font-size: 4rem;
    font-weight: bold;
    color: red;


}

.winner-declaration {
    font-size: 4rem;
    color: green;
}

.start-button, 
input[type="text"] {
    height: calc(var(--row-height) / 5);
    width: var(--col-width);
}

.footer {
    display: grid;
    gap: var(--standard-gap);
    grid-template-columns: repeat(3, var(--col-width));
}

