:root {
    --row-height: 200px;
    --col-height: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, var(--col-height));
    grid-template-rows:  repeat(3, var(--row-height));
    gap: 10px;
    justify-content: center;
}

.box {
    background-color: aqua;
    font-size: 8rem;
    text-align: center;
    line-height: var(--row-height);
}

.bad-move {
    font-size: 4rem;
    font-weight: bold;
    color: red;
}

.winner-declaration {
    font-size: 4rem;
    color: green;
}